:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9216%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9216%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9216%;
  --primary: 0 0% 9.0196%;
  --primary-foreground: 0 0% 98.0392%;
  --secondary: 0 0% 96.0784%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 96.0784%;
  --muted-foreground: 0 0% 45.098%;
  --accent: 0 0% 96.0784%;
  --accent-foreground: 0 0% 9.0196%;
  --destructive: 357.1429 100% 45.2941%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 89.8039%;
  --input: 0 0% 89.8039%;
  --ring: 0 0% 63.1373%;
  --chart-1: 211.6364 100% 78.4314%;
  --chart-2: 217.3404 91.2621% 59.6078%;
  --chart-3: 221.5842 86.3248% 54.1176%;
  --chart-4: 223.75 78.6885% 47.8431%;
  --chart-5: 226.4789 69.6078% 40%;
  --sidebar: 0 0% 98.0392%;
  --sidebar-foreground: 0 0% 3.9216%;
  --sidebar-primary: 0 0% 9.0196%;
  --sidebar-primary-foreground: 0 0% 98.0392%;
  --sidebar-accent: 0 0% 96.0784%;
  --sidebar-accent-foreground: 0 0% 9.0196%;
  --sidebar-border: 0 0% 89.8039%;
  --sidebar-ring: 0 0% 63.1373%;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Fira Mono, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: 0 0% 3.9216%;
  --foreground: 0 0% 98.0392%;
  --card: 0 0% 9.0196%;
  --card-foreground: 0 0% 98.0392%;
  --popover: 0 0% 14.902%;
  --popover-foreground: 0 0% 98.0392%;
  --primary: 258.9189 100% 56.4706%;
  --primary-foreground: 0 0% 3.9216%;
  --secondary: 259.1209 89.2157% 60%;
  --secondary-foreground: 0 0% 1.1765%;
  --muted: 0 0% 14.902%;
  --muted-foreground: 0 0% 63.1373%;
  --accent: 259.3333 40.1786% 43.9216%;
  --accent-foreground: 0 0% 98.0392%;
  --destructive: 358.8387 100% 69.6078%;
  --destructive-foreground: 0 0% 98.0392%;
  --border: 0 0% 15.6863%;
  --input: 0 0% 20.3922%;
  --ring: 0 0% 45.098%;
  --chart-1: 211.6364 100% 78.4314%;
  --chart-2: 217.3404 91.2621% 59.6078%;
  --chart-3: 221.5842 86.3248% 54.1176%;
  --chart-4: 223.75 78.6885% 47.8431%;
  --chart-5: 226.4789 69.6078% 40%;
  --sidebar: 0 0% 9.0196%;
  --sidebar-foreground: 0 0% 98.0392%;
  --sidebar-primary: 225.4286 84% 49.0196%;
  --sidebar-primary-foreground: 0 0% 98.0392%;
  --sidebar-accent: 0 0% 14.902%;
  --sidebar-accent-foreground: 0 0% 98.0392%;
  --sidebar-border: 0 0% 15.6863%;
  --sidebar-ring: 0 0% 32.1569%;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Fira Mono, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.25);
}
