@config "../tailwind.app.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-\[inherit\] {
    width: inherit;
  }

  .h-\[inherit\] {
    height: inherit;
  }
}

:root {
    --radius: 8px;
    --card: 0 0% 100%;
    --ring: 0 0% 63%;
    --input: 0 0% 90%;
    --muted: 0 0% 96%;
    --accent: 0 0% 96%;
    --border: 0 0% 90%;
    --popover: 0 0% 100%;
    --primary: 0 0% 9%;
    --secondary: 0 0% 96%;
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --destructive: 357 100% 45%;
    --card-foreground: 0 0% 4%;
    --muted-foreground: 0 0% 45%;
    --accent-foreground: 0 0% 9%;
    --popover-foreground: 0 0% 4%;
    --primary-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --destructive-foreground: 0 0% 100%;
  }
  .dark {
    --card: 0 0% 9%;
    --ring: 0 0% 45%;
    --input: 0 0% 20%;
    --muted: 0 0% 15%;
    --accent: 0 0% 25%;
    --border: 0 0% 16%;
    --popover: 0 0% 15%;
    --primary: 0 0% 90%;
    --secondary: 0 0% 15%;
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --destructive: 359 100% 70%;
    --card-foreground: 0 0% 98%;
    --muted-foreground: 0 0% 63%;
    --accent-foreground: 0 0% 98%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --destructive-foreground: 0 0% 98%;
  }