@config "../tailwind.app.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-\[inherit\] {
    width: inherit;
  }

  .h-\[inherit\] {
    height: inherit;
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}