@config "../../../../tailwind.builder.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #TODO: Remove this once we have a better way to handle pointer-events */
body {
  pointer-events: all !important;
}
