@config "../../../tailwind.builder.config.ts";
@import "react-diff-view/style/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #TODO: Remove this once we have a better way to handle pointer-events */
body {
  pointer-events: all !important;
}
