@config "../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .w-\[inherit\] {
    width: inherit;
  }

  .h-\[inherit\] {
    height: inherit;
  }
}